<a href="https://colab.research.google.com/github/IbrahimIsman/WebScrapingPrius/blob/main/Web_scraping_prius_cars_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
website = "https://www.sbtjapan.com/used-cars/toyota/prius/?steering=right-hand-drive&drive=0&year_f=2015&year_t=2023&cc_f=0&cc_t=0&mile_f=11&mile_t=70&trans=0&savel=0&saveu=0&fuel=0&color=0&bodyLength=0&loadClass=0&engineType=0&location=&port=0&search_box=1&locationIds=0&d_country=2&d_port=65&ship_type=0&FreightChk=yes&currency=2&inspection=yes&insurance=1&sort=5&psize=100&p_num=2#listbox"

In [ ]:
response =  requests.get(website)

In [ ]:
response.status_code

200

In [ ]:
 Soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
results = Soup.find_all('div', {'class': 'car_info_area popbox'})

In [ ]:
len(results)

100

In [ ]:
#@title
results[0]

<div class="car_info_area popbox">
<div class="carlistitem_autoheight_area">
<div class="caritem_titlearea">
<ul class="sales_banners_area">
</ul>
<!-- Favoriteに入れてあげたらaタグのclassをaddfav_btnからaddedfav_btndisableに切り替えてあげてます -->
<p class="favorite_btn">
<a class="addfav_btn" href="https://www.sbtjapan.com/user/login/" id="fav_DQG7542">
<i class="icon-heart-empty" id="icon_favorites_DQG7542" style="margin-right: 3px;"></i><span>Add to Favorites</span>
</a>
</p>
<h2>
<a href="https://www.sbtjapan.com/dealers-cars/toyota/prius/DQG7542/">
                                                      2016/3 TOYOTA PRIUS S                                                      </a>
</h2>
<div class="spce_area">
<p class="spce_location">Inventory Location:
                                                                                                                <span class="spcelocation_japan">
                                                              Japan Fukui                                                          </span>
</p>
</div>
</div>
<div class="car_info_left" style="margin-top: 1px;">
<div class="car_prices">
<div class="fob_area" style="float: left;">
<h3 style="font-size: 16px !important;float: left; margin-right: 5px;">
                                                              Vehicle Price:
                                                          </h3>
<p class="price_para" style="font-size: 16px !important;font-weight: 100;">
                                                                                                                                                                                                                                                    USD 9,800                                                                                                                    </p>
</div>
<div class="totalprices_area" style="float: left;">
<h3>
                                                              Total Price:
                                                          </h3>
<p class="price_para" style="font-weight: 700;">
                                                              USD 11,676                                                          </p>
</div>
</div>
</div><!-- .car_info_left -->
<div class="car_info_right">
<ul class="speclist_table">
<li>
<h3>Mileage</h3>
<p>53,000km</p>
</li>
<li>
<h3>Engine</h3>
<p>
<span>1,800cc</span>
<span>(-)</span>
</p>
</li>
<li>
<h3>Trans</h3>
<p>AT</p>
</li>
</ul>
<ul class="speclist_box">
<li class="specwithicon_model">ZVW50</li>
<li class="specwithicon_fuel">HYBRID(PETROL)</li>
<li class="specwithicon_steering">RHD</li>
<li class="specwithicon_drive">FF</li>
<li class="specwithicon_seats">5 Seats</li>
<li class="specwithicon_doors">5 Doors</li>
</ul>
</div><!-- .car_info_right -->
</div><!-- carlistitem_autoheight_area -->
<div class="car_listitem_footer action">
<span class="acc_list">Power Steering</span>
<span class="acc_list">Power Windows</span>
<span class="acc_list">Air Conditioner</span>
<span class="acc_list">Air Bag</span>
<span class="acc_list">Dual Air Bags</span>
<span class="acc_list">Anti-Lock Brake</span>
<span class="acc_list">TV</span>
<span class="acc_list">CD</span>
<span class="acc_list">Alloy Wheels</span>
<span class="acc_list">Key Less Entry</span>
<span class="acc_list last">Back Camera</span>
<span class="absolute_existence"> </span>
</div>
</div>

In [ ]:
results[0].find('h2').get_text().strip()

'2016/3 TOYOTA PRIUS S'

In [ ]:
results[0].find('li').get_text().strip()

'New Arrival'

In [ ]:
results[0].find('p', {'style' : "font-weight: 700;"}).get_text().strip()

'USD 12,352'

In [ ]:
name = []
mileage = []
price = []

for result in results:
  try:
    name.append(result.find('h2').get_text().strip())
  except:
    name.append('n/a')

  try:
    mileage.append(result.find('li').get_text().strip())
  except:
    mileage.append('n/a')

  try:
    price.append(result.find('p', {'style' : "font-weight: 700;"}).get_text().strip())
  except:
    price.append('n/a')

**Adding engine size**

In [ ]:
 Soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
results = Soup.find_all('div', {'class': 'car_info_area popbox'})

In [ ]:
#@title
results[0]

<div class="car_info_area popbox">
<div class="carlistitem_autoheight_area">
<div class="caritem_titlearea">
<ul class="sales_banners_area">
</ul>
<!-- Favoriteに入れてあげたらaタグのclassをaddfav_btnからaddedfav_btndisableに切り替えてあげてます -->
<p class="favorite_btn">
<a class="addfav_btn" href="https://www.sbtjapan.com/user/login/" id="fav_DQG7542">
<i class="icon-heart-empty" id="icon_favorites_DQG7542" style="margin-right: 3px;"></i><span>Add to Favorites</span>
</a>
</p>
<h2>
<a href="https://www.sbtjapan.com/dealers-cars/toyota/prius/DQG7542/">
                                                      2016/3 TOYOTA PRIUS S                                                      </a>
</h2>
<div class="spce_area">
<p class="spce_location">Inventory Location:
                                                                                                                <span class="spcelocation_japan">
                                                              Japan Fukui                                                          </span>
</p>
</div>
</div>
<div class="car_info_left" style="margin-top: 1px;">
<div class="car_prices">
<div class="fob_area" style="float: left;">
<h3 style="font-size: 16px !important;float: left; margin-right: 5px;">
                                                              Vehicle Price:
                                                          </h3>
<p class="price_para" style="font-size: 16px !important;font-weight: 100;">
                                                                                                                                                                                                                                                    USD 9,800                                                                                                                    </p>
</div>
<div class="totalprices_area" style="float: left;">
<h3>
                                                              Total Price:
                                                          </h3>
<p class="price_para" style="font-weight: 700;">
                                                              USD 11,676                                                          </p>
</div>
</div>
</div><!-- .car_info_left -->
<div class="car_info_right">
<ul class="speclist_table">
<li>
<h3>Mileage</h3>
<p>53,000km</p>
</li>
<li>
<h3>Engine</h3>
<p>
<span>1,800cc</span>
<span>(-)</span>
</p>
</li>
<li>
<h3>Trans</h3>
<p>AT</p>
</li>
</ul>
<ul class="speclist_box">
<li class="specwithicon_model">ZVW50</li>
<li class="specwithicon_fuel">HYBRID(PETROL)</li>
<li class="specwithicon_steering">RHD</li>
<li class="specwithicon_drive">FF</li>
<li class="specwithicon_seats">5 Seats</li>
<li class="specwithicon_doors">5 Doors</li>
</ul>
</div><!-- .car_info_right -->
</div><!-- carlistitem_autoheight_area -->
<div class="car_listitem_footer action">
<span class="acc_list">Power Steering</span>
<span class="acc_list">Power Windows</span>
<span class="acc_list">Air Conditioner</span>
<span class="acc_list">Air Bag</span>
<span class="acc_list">Dual Air Bags</span>
<span class="acc_list">Anti-Lock Brake</span>
<span class="acc_list">TV</span>
<span class="acc_list">CD</span>
<span class="acc_list">Alloy Wheels</span>
<span class="acc_list">Key Less Entry</span>
<span class="acc_list last">Back Camera</span>
<span class="absolute_existence"> </span>
</div>
</div>

In [ ]:
results_span = []

In [ ]:
for r in results:
  results_span.append(r.find_all('span'))

In [ ]:
len(results_span)

100

In [ ]:
results_engine =[]
for  r in results_span:
  results_engine.append(r[2])

In [ ]:
len(results_engine)

100

**Converting to Pandas DF**

In [ ]:
prius_info = pd.DataFrame({'Name': name, 'Mileage': mileage, 'Price': price, 'Engine':results_engine})

**Data cleaning**

In [ ]:
prius_info.head()

                    Name            Mileage       Price     Engine
0  2016/3 TOYOTA PRIUS S  Mileage\n53,000km  USD 11,676  [1,800cc]
1    2017/7 TOYOTA PRIUS  Mileage\n53,000km  USD 11,686  [1,800cc]
2    2016/5 TOYOTA PRIUS  Mileage\n56,000km  USD 11,686  [1,800cc]
3  2017/5 TOYOTA PRIUS E  Mileage\n62,000km  USD 11,706  [1,800cc]
4    2016/6 TOYOTA PRIUS        New Arrival  USD 11,706  [1,800cc]

In [ ]:
prius_info['Mileage'] = prius_info['Mileage'].apply(lambda x:x.strip('Mileage\n'))

In [ ]:
prius_info['Mileage'] = prius_info['Mileage'].apply(lambda x:x.strip('km'))

In [ ]:
prius_info['Price'] = prius_info['Price'].apply(lambda x:x.strip('USD'))

In [ ]:
prius_info

                     Name    Mileage    Price     Engine
0   2016/3 TOYOTA PRIUS S     53,000   11,676  [1,800cc]
1     2017/7 TOYOTA PRIUS     53,000   11,686  [1,800cc]
2     2016/5 TOYOTA PRIUS     56,000   11,686  [1,800cc]
3   2017/5 TOYOTA PRIUS E     62,000   11,706  [1,800cc]
4     2016/6 TOYOTA PRIUS  New Arriv   11,706  [1,800cc]
..                    ...        ...      ...        ...
95    2017/6 TOYOTA PRIUS  New Arriv   12,433  [1,800cc]
96    2016/1 TOYOTA PRIUS  New Arriv   12,443  [1,800cc]
97    2017/8 TOYOTA PRIUS     70,000   12,453  [1,800cc]
98  2018/7 TOYOTA PRIUS S     64,000   12,453  [1,800cc]
99    2018/5 TOYOTA PRIUS     56,000   12,463  [1,800cc]

[100 rows x 4 columns]

**Feature engineering**

In [ ]:
prius_info_split_name = pd.DataFrame(prius_info.Name.str.split(' ',1).tolist(),
                                 columns = ['Release date','Name'])

<ipython-input-27-01de9f5265f3>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  prius_info_split_name = pd.DataFrame(prius_info.Name.str.split(' ',1).tolist(),

In [ ]:
Prius_droppedCol = prius_info.drop('Name', axis=1)

In [ ]:
concatenated = pd.concat([prius_info_split_name, Prius_droppedCol], axis="columns")

In [ ]:
cleaned_name = concatenated['Name'].str.encode('ascii', 'ignore').str.decode('ascii')

In [ ]:
concatenated = concatenated.drop('Name', axis=1)

In [ ]:
Final = pd.concat([cleaned_name, concatenated], axis="columns")

In [ ]:
Final.to_excel('search_page2.xlsx', index=False)


**Looping through all pages**

In [ ]:
websites = []

for i in range(2,14):
  website = 'https://www.sbtjapan.com/used-cars/toyota/prius/?steering=right-hand-drive&drive=0&year_f=2015&year_t=2023&cc_f=0&cc_t=0&mile_f=11&mile_t=70&trans=0&savel=0&saveu=0&fuel=0&color=0&bodyLength=0&loadClass=0&engineType=0&location=&port=0&search_box=1&locationIds=0&d_country=2&d_port=65&ship_type=0&FreightChk=yes&currency=2&inspection=yes&insurance=1&sort=5&psize=100&p_num=' + str(i)+ '#listbox'
  websites.append(website)

In [ ]:

name = []
mileage = []
price = []

for w in websites:
  response =  requests.get(w)
  soup = BeautifulSoup(response.content, 'html.parser')
  result = soup.find_all('li', {'class': 'car_listitem'})

  for r in result:
    try:
      name.append(r.find('h2').get_text().strip())
    except:
      name.append('n/a')

    try:
      mileage.append(r.find('li').get_text().strip())
    except:
      mileage.append('n/a')

    try:
      price.append(r.find('p', {'style' : "font-weight: 700;"}).get_text().strip())
    except:
      price.append('n/a')

In [ ]:
len(mileage)

1204

**Scraping the engine size**

In [ ]:
engine =[]
results_span_all = []

for w in websites:
  response =  requests.get(w)
  soup = BeautifulSoup(response.content, 'html.parser')
  result = soup.find_all('div', {'class': 'car_info_area popbox'})

  for r in result:
    results_span_all.append(r.find_all('span'))

In [ ]:
for r in results_span_all:
      engine.append(r[2])

In [ ]:
engine[:10]

[<span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>,
 <span>1,800cc</span>]

**Converted to Pandas Dataframe**

In [ ]:
prius_info_all = pd.DataFrame({'Name': name, 'Mileage': mileage, 'Price': price, 'Engine': engine})

In [ ]:
prius_info_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     1204 non-null   object
 1   Mileage  1204 non-null   object
 2   Price    1204 non-null   object
 3   Engine   1204 non-null   object
dtypes: object(4)
memory usage: 37.8+ KB

**Data cleaning through all pages**

In [ ]:
prius_info_all['Mileage'] = prius_info_all['Mileage'].apply(lambda x:x.strip('Mileage\n'))
prius_info_all['Mileage'] = prius_info_all['Mileage'].apply(lambda x:x.strip('km'))
prius_info_all['Price'] = prius_info_all['Price'].apply(lambda x:x.strip('USD'))
prius_info_all['Name'] = prius_info_all['Name'].str.encode('ascii', 'ignore').str.decode('ascii')

**Feature engineering**

In [ ]:
prius_info_all_split_name = pd.DataFrame(prius_info_all.Name.str.split(' ',1).tolist(),columns = ['Release date','Name'])
Prius_info_all_droppedCol = prius_info_all.drop('Name', axis=1)
Final_all = pd.concat([prius_info_all_split_name, Prius_info_all_droppedCol], axis="columns")

<ipython-input-43-281883d6aa14>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  prius_info_all_split_name = pd.DataFrame(prius_info_all.Name.str.split(' ',1).tolist(),columns = ['Release date','Name'])

In [ ]:
Final_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release date  1204 non-null   object
 1   Name          1204 non-null   object
 2   Mileage       1204 non-null   object
 3   Price         1204 non-null   object
 4   Engine        1204 non-null   object
dtypes: object(5)
memory usage: 47.2+ KB

**Converting to excel sheet**

In [ ]:
Final_all.to_excel('pages 2-13.xlsx', index=False)

**Appending search page 1 with pages 2 to 13**

In [ ]:
Combined_all = Final.append(
      Final_all, ignore_index=True)

<ipython-input-46-8865598d6515>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Combined_all = Final.append(

In [ ]:
Combined_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1304 non-null   object
 1   Release date  1304 non-null   object
 2   Mileage       1304 non-null   object
 3   Price         1304 non-null   object
 4   Engine        1304 non-null   object
dtypes: object(5)
memory usage: 51.1+ KB

In [ ]:
Combined_all

,Name,Release date,Mileage,Price,Engine
0,TOYOTA PRIUS,2015/12,New Arriv,"12,352","[1,800cc]"
1,TOYOTA PRIUS S,2016/4,"22,000","12,373","[1,800cc]"
2,TOYOTA PRIUS A,2016/1,"65,000","12,383","[1,800cc]"
3,TOYOTA PRIUS,2016/6,"38,000","12,383","[1,800cc]"
4,TOYOTA PRIUS,2016/2,"38,000","12,413","[1,800cc]"
...,...,...,...,...,...
1299,TOYOTA PRIUS,2019/3,"20,000","24,624","[1,800cc]"
1300,TOYOTA PRIUS S,2019/1,"12,000","24,725","[1,800cc]"
1301,TOYOTA PRIUS JDM EDITION SALOON 1.8 AUTOMATIC ...,2017,"48,000miles",n/a,"[1,800cc]"
1302,TOYOTA PRIUS,2021/1,"19,000","24,917","[1,800cc]"
1303,TOYOTA PRIUS,2019/12,"35,000","24,927","[1,800cc]"

**Converting all to excel**

In [ ]:
Combined_all.to_excel('sbtjapan Prius info.xlsx', index=False)